body{
    background-color:#002147 ; 
    color:white;
   }
hr{
  background-color: yellow;
  border-style: none;
  border-top-style: dotted;
  width: 30%;
  border-color: rgb(0, 0, 0);
  border-width: 20px;
}
.header{
  text-align: center;
}
@media screen and (max-width:600px){
  img.photo{
    width:80%;
  }
}